/*========================================================

                 Add Vendor scss

========================================================*/
@media screen and (min-width: 769px) {
  .add-vendor-align {
    margin-top: vw(80px);
  }
  .add-vendor-align .addvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
  }
  .add-vendor-align .cancel-button {
    font-size: vw(21px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: vw(240px);
    height: vw(60px);
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: left;
    border-radius: vw(30px);
    text-transform: capitalize;
  }
  .add-vendor-align .text-area-add {
    border: 1px solid #cccccc;
    border-radius: vw(30px);
  }
}

/***********************************
            Media Query Add vendor  
***********************************/
@media screen and (max-width: 768px) {
  .add-vendor-align {
    margin-top: mvw(30px);
    margin-bottom: mvw(30px);
  }
  .add-vendor-align .addvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: mvw(20px);
  }
  .add-vendor-align .cancel-button {
    font-size: mvw(18px);
    margin-top: mvw(30px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: mvw(140px);
    height: mvw(40px);
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: left;
    border-radius: mvw(30px);
    text-transform: capitalize;
  }
  .add-vendor-align .text-area-add {
    border: 1px solid #cccccc;
    border-radius: mvw(30px);
  }
}
/*# sourceMappingURL=addvendor.css.map */