/********************
    DashBoard Scss
********************/
.main-dashboard-back {
  width: 100%;
  padding: vw(33.5px) vw(141px);
  background: -moz-linear-gradient(
    359deg,
    #ff4d2d 0%,
    #ffa382 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #ff4d2d),
    color-stop(100%, #ffa382)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    359deg,
    #ff4d2d 0%,
    #ffa382 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    359deg,
    #ff4d2d 0%,
    #ffa382 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(359deg, #ff4d2d 0%, #ffa382 100%); /* ie10+ */
  background: linear-gradient(91deg, #ff4d2d 0%, #ffa382 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4D2D', endColorstr='#FFA382',GradientType=1 ); /* ie6-9 */

  .hamburgur-class {
    color: #fff !important;
    width: vw(35.25px);
    height: vw(23.5px);
    align-self: center;
  }

  h4 {
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    color: #fff;
    margin-left: vw(100px);
  }
}

/*****=================
  *  Dashboar Link Css
  =================*****/
.dashboard-menu-slide {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  padding: vw(30px) vw(76px) vw(30px) vw(76px);
  background: -moz-linear-gradient(
    333deg,
    #ffa382 0%,
    #ff4d2d 100%
  ); /* ff3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #ffa382),
    color-stop(100%, #ff4d2d)
  ); /* safari4+,chrome */
  background: -webkit-linear-gradient(
    333deg,
    #ffa382 0%,
    #ff4d2d 100%
  ); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(
    333deg,
    #ffa382 0%,
    #ff4d2d 100%
  ); /* opera 11.10+ */
  background: -ms-linear-gradient(333deg, #ffa382 0%, #ff4d2d 100%); /* ie10+ */
  background: linear-gradient(117deg, #ffa382 0%, #ff4d2d 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA382', endColorstr='#FF4D2D',GradientType=1 ); /* ie6-9 */
  transition: all 5s ease;
  animation: imganim 0.5s linear both;
  box-shadow: vw(0px) vw(0px) vw(30px) rgba(0, 0, 0, 0.1);
  z-index: 2;

  h4 {
    font-size: vw(36px);
    line-height: vw(43px);
    color: #fff;
    font-family: AvenirLTStd-Black;
    margin-left: 0;
  }

  .times-fontawesome {
    width: vw(28px);
    height: vw(28px);
    color: #fff;
    position: absolute;
    right: vw(-25px);
    cursor: pointer;
  }

  .restaurant-open {
    border: none;
    border-top: vw(1px) solid #fff;
    border-bottom: vw(1px) solid #fff;
    padding: 0;
    margin-top: vw(30px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      font-size: vw(24px);
      line-height: vw(29px);
      color: #fff;
      font-family: AvenirLTStd-Roman;
      margin-top: vw(39px);
      margin-bottom: vw(39px);
    }
  }
  .menu-nav {
    display: inline-grid;
    margin-bottom: vw(40px);
    padding: 0;
    a {
      font-size: vw(24px);
      font-family: AvenirLTStd-Roman, sans-serif, Helvetica;
      color: white;
      margin-left: vw(15px);
      text-decoration: none;
      // margin: vw(20px) 0;
    }
    .total-navlink-div {
      display: flex !important;
      padding: 12px 0;
      align-items: center;
    }
    .empty-div {
      border: 1px solid white;
      border-radius: 12px;
      padding: 10px;
      width: 10px;
      height: auto;
    }
  }
  .logout-div {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: vw(30px);
    align-items: center;
    width: 100%;

    .logout-text {
      font-size: vw(24px);
      font-family: AvenirLTStd-Black, sans-serif, Helvetica;
      color: white;
    }

    img {
      width: vw(68.2px);
      height: vw(68.2px);
    }
  }
}

@keyframes imganim {
  from {
    width: 10%;
    height: 100vh;
  }
  to {
    width: 25%;
    height: 100vh;
  }
}
