/********************
    Global scss
********************/
/***********************************
            Global Reset             
***********************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
  color: #000000;
  font-family: AvenirLTStd-Book, sans-serif, Helvetica;
}

/*** input field class ***/

.input-bottomblack {
  padding-left: vw(55px);
  margin-left: 0;
  margin-bottom: vw(20px);
  border: 1px solid #cccccc;
  border-radius: vw(30px);
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}

/*** Button Classes ***/

button {
  border: transparent;

  &:focus {
    outline: 0;
  }
}

/*** Textarea class ***/
.textarea-bottomblack {
  padding-left: vw(55px);
  margin-left: 0;
  margin-bottom: vw(20px);
  border: 1px solid #cccccc;
  border-radius: vw(30px);
}

/**============
 validation css
============**/

.main-validation-div {
  text-align: left;

  .isnotvalid {
    font-size: vw(20px);
    color: red;
  }
}

.table {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.input-field-css {
  width: 20%;
  text-align: center;
  margin-right: vw(20px);
}

/***********************************
            Media Query Navigation   
***************************************/
@media screen and (max-width: 768px) {
  table {
    margin-top: 0rem;
    border-radius: 0 !important;
    margin-bottom: 0rem !important;
  }
  .input-bottomblack {
    padding-left: mvw(55px);
    margin-left: 0;
    margin-bottom: mvw(20px);
    border: 1px solid #cccccc;
    border-radius: mvw(30px);
  }
}
