/********************
    Navigation Css
********************/
@media screen and (min-width: 769px) {
  .main-header {
    background-color: #ffffff;
    // width: vw(1920px);
    box-shadow: 0 vw(3px) vw(6px) 0 #e6e6e6;

    .divheading {
      height: vw(90px);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: vw(160px);
      padding-right: vw(180px);

      .add-vendor-button {
        font-size: vw(21px);
        font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
        // margin-top: vw(30px);
        width: vw(240px);
        height: vw(60px);
        border: transparent;
        background-color: #ff5757;
        color: white;
        float: left;
        border-radius: vw(30px);
        text-transform: capitalize;
      }
      img {
        width: vw(32px);
        height: vw(29px);
        margin-left: vw(30px);
        background-color: #fafafa;
        border-radius: vw(30px);
      }
    }

    .divheading h4 {
      font-family: AvenirLTStd-Black, sans-serif, Helvetica;
      font-weight: bold;
      font-size: vw(28px);
      color: #000000;
    }
    .add-vendor-heading {
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .main-header {
    background-color: #ffffff;
    // width: vw(1920px);
    box-shadow: 0 mvw(3px) mvw(6px) 0 #e6e6e6;

    .divheading {
      height: mvw(65px);
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // padding-left: mvw(160px);
      // padding-right: mvw(180px);

      .add-vendor-button {
        font-size: mvw(14px);
        font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
        // margin-top: vw(30px);
        width: mvw(100px);
        height: mvw(30px);
        border: transparent;
        background-color: #ff5757;
        color: white;
        float: left;
        border-radius: mvw(30px);
        text-transform: capitalize;
      }
      img {
        width: mvw(24px);
        height: mvw(24px);
        margin-left: mvw(15px);
        background-color: #fafafa;
        border-radius: mvw(30px);
      }
    }

    .divheading h4 {
      font-family: AvenirLTStd-Black, sans-serif, Helvetica;
      font-weight: bold;
      font-size: mvw(16px);
      color: #000000;
    }
    .add-vendor-heading {
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
  }
}
