/*========================================================

                vendor details

========================================================*/
@media screen and (min-width: 769px) {
  .font-36-black {
    font-size: vw(36px);
    line-height: vw(43px);
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }

  .font-28-medium {
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }

  .font-21-medium {
    cursor: pointer;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }

  .mr-30 {
    margin-right: vw(30px);
  }

  .mb-30 {
    margin-bottom: vw(30px);
  }

  .vendor-details-container {
    padding-left: vw(141px);
    padding-right: vw(141px);
    padding-top: vw(30px);
    background-color: $color-white;
    box-shadow: 0 0 vw(20px) 0 rgba(0, 0, 0, 0.05);
  }

  .gray-border {
    display: block;
    border-bottom: 1px solid $gray-border;
    margin-top: vw(33px);
    margin-bottom: vw(20px);
  }

  .gray-text-block-p {
    color: $gray-text;
    font-size: vw(21px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    line-height: vw(25px);
    text-transform: capitalize;
    width: vw(286px);
    margin-bottom: vw(20px);
  }

  .login-button--vendor-details-show {
    float: unset;
    background-color: $color-blue;
    color: $color-white;
    margin-bottom: vw(30px) !important;
    margin-right: vw(30px) !important;
  }

  .login-button--vendor-details-show-all {
    float: unset;
    background-color: $color-white;
    border: 1px solid $color-black;
    color: $color-black;
    margin-bottom: vw(30px) !important;
    margin-right: vw(30px) !important;
  }

  .dark-gray-text {
    color: $dark-gray-text;
  }

  .default-wait-time-block {
    display: flex;
    margin-bottom: vw(30px);
    margin-top: vw(10px);
    .select-wait-time {
      color: $color-white;
      border-top-left-radius: vw(40px);
      border-bottom-left-radius: vw(40px);
      border-right: 0;
    }
    .select-current-time {
      color: $color-white;
      background-color: $color-yellow;
    }

    span:last-child {
      &::after {
        display: none;
      }
    }

    span:first-child {
      border-top-left-radius: vw(40px);
      border-bottom-left-radius: vw(40px);
      border-right: 0;
    }

    span:last-child {
      border-top-right-radius: vw(40px);
      border-bottom-right-radius: vw(40px);
      border-right: 0;
    }

    span {
      position: relative;
      color: $color-black;
      background-color: $color-light-gray;
      width: vw(90px);
      height: vw(80px);
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        width: 1px;
        height: 50%;
        background-color: #707070;
        position: absolute;
        right: 0;
      }
    }
  }

  .table-time-outer-block {
    display: flex;
    flex-wrap: wrap;

    div:first-child {
      margin-right: vw(60px);
    }
  }

  .vendordetail-col {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // border-radius: 5px 5px 40px 40px;
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .font-36-black {
    font-size: mvw(30px);
    // line-height: mvw(43px);
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }

  .font-28-medium {
    font-size: mvw(18.75px);
    line-height: mvw(34px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }

  .font-21-medium {
    cursor: pointer;
    font-size: mvw(21px);
    line-height: mvw(25px);
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }

  .mr-30 {
    margin-right: mvw(30px);
  }

  .mb-30 {
    margin-bottom: mvw(30px);
  }

  .vendor-details-container {
    // padding-left: mvw(141px);
    // padding-right: mvw(141px);
    padding-top: mvw(20px);
    padding-bottom: mvw(20px);
    background-color: $color-white;
    box-shadow: 0 0 mvw(20px) 0 rgba(0, 0, 0, 0.05);
  }

  .gray-border {
    display: block;
    border-bottom: 1px solid $gray-border;
    margin-top: mvw(15px);
    margin-bottom: mvw(15px);
  }

  .gray-text-block-p {
    color: $gray-text;
    font-size: mvw(21px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    line-height: mvw(25px);
    text-transform: capitalize;
    width: 100%;
    margin-bottom: mvw(20px);
  }

  .login-button--vendor-details-show {
    float: unset;
    background-color: $color-blue;
    color: $color-white;
    font-size: mvw(15px);
    width: 49%;
    height: 7vh;
    margin-bottom: mvw(20px) !important;
  }

  .login-button--vendor-details-show-all {
    float: unset;
    background-color: $color-white;
    border: 1px solid $color-black;
    color: $color-black;
    font-size: mvw(15px);
    width: 49%;
    height: 7vh;
    margin-bottom: mvw(20px) !important;
  }

  .dark-gray-text {
    color: $dark-gray-text;
  }

  .default-wait-time-block {
    display: flex;
    margin-bottom: mvw(20px);
    margin-top: mvw(20px);
    .select-wait-time {
      color: $color-white;
      border-top-left-radius: mvw(40px);
      border-bottom-left-radius: mvw(40px);
      border-right: 0;
    }
    .select-current-time {
      color: $color-white;
      background-color: $color-yellow;
    }

    span:last-child {
      &::after {
        display: none;
      }
    }

    span:first-child {
      border-top-left-radius: mvw(40px);
      border-bottom-left-radius: mvw(40px);
      border-right: 0;
    }

    span:last-child {
      border-top-right-radius: mvw(40px);
      border-bottom-right-radius: mvw(40px);
      border-right: 0;
    }

    span {
      position: relative;
      color: $color-black;
      background-color: $color-light-gray;
      width: mvw(67.5px);
      font-size: mvw(18.75px);
      height: 8vh;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        width: 1px;
        height: 50%;
        background-color: #707070;
        position: absolute;
        right: 0;
      }
    }
  }

  .table-time-outer-block {
    display: flex;
    flex-wrap: wrap;

    div:first-child {
      // margin-right: mvw(60px);
    }
  }

  .vendordetail-col {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    // border-radius: 5px 5px 40px 40px;
  }
}
