/***=====================================
  Login Css
=====================================***/
.login-background-banner {
  background-image: url('../src/assets/images/loginsignupotp/loginBanner.png');
}
.signup-background-banner {
  background-image: url('../src//assets//images/loginsignupotp/signBanner.png');
}
.otp-background-banner {
  background-image: url('../src/assets/images/loginsignupotp/otpBanner.png');
}

.main-Login {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-background {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);
    border-radius: vw(20px);
    padding: 0;
    width: vw(586px);
    height: auto;
  }

  .login_orange {
    background-color: #f85032;
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.1);
    height: vw(103px);
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);

    h1 {
      padding: vw(30px) vw(0px) vw(30px) vw(30px);
      color: #fff;
      font-size: vw(36px);
      line-height: vw(43px);
      font-family: AvenirLTStd-Black;
    }
  }

  .login_padding {
    padding: vw(30px);
  }

  .view-button {
    width: vw(26.8px);
    height: vw(15.35px);
    margin-top: vw(25px);
  }

  .forgot-password {
    color: #000;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    text-transform: capitalize;
    margin-bottom: vw(10px);
    text-align: right;
    margin-bottom: vw(21px);
    text-decoration: none;
  }
}

/*********************
    OTP CSS
*********************/
.signup-select-form {
  label {
    color: #000000;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    margin-bottom: vw(10px);
    padding-left: vw(15px);
  }

  .select-custom {
    width: vw(109px);
    height: vw(60px);
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    border: 1px solid #cccccc;
    border-radius: vw(30px);
    color: #e6e6e6;
    padding: 0;
  }
}

/*********************
    OTP CSS
*********************/
.otp-classes {
  .otp-para {
    color: #707070;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Book;
    margin-bottom: vw(10px);
  }
  .otp-heading {
    color: #000;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Black;
    font-weight: bold;
    margin-bottom: vw(10px);
  }
  .otp-headingtwo {
    color: #707070;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Book;
    margin-bottom: vw(10px);

    b {
      color: #000;
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Black;
      font-weight: bold;
    }
  }
}

.otp-inputfield-class {
  .input-all-field {
    border: 1px solid #707070;
    border-left: none;
    border-right: none;
    padding: vw(20px) vw(0px);
    text-align: center;
  }

  .otp-input-box {
    color: #000000;
    border: 1px solid #cccccc;
    border-radius: vw(30px);
    padding: vw(10px);
    padding-left: vw(68px);
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    border-radius: vw(20px);
    width: vw(60px);
    height: vw(60px);
    padding: vw(10px);
    text-align: center;
  }

  .otp-input-box:focus {
    outline: none;
    box-shadow: none;
  }

  .otp-input-dash {
    color: #000000;
    margin-left: vw(11px);
    margin-right: vw(11px);

    &:last-child {
      display: none;
    }
  }

  .have-received {
    color: #000;
    font-size: vw(21px);
    line-height: vw(25px);
    font-family: AvenirLTStd-Medium;
    margin-top: vw(30px);
    margin-bottom: vw(30px);
  }
}
