.seleect_chain {
  font-family: AvenirLTStd-Heavy;
  font-size: vw(25px);
}

.view_chainsBor {
  width: vw(1082px);
  height: vw(204px);
  display: flex;
  padding: vw(10px);
  margin-top: vw(30px);
  border: 1px solid #cccccc;
  border-radius: 30px;
  align-items: center;
}

.newChain_add {
  margin: vw(10px);
  width: vw(164px);
  height: vw(164px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px dashed #cccccc;
}

.newChain_addtwo {
  margin: vw(10px);
  width: vw(164px);
  height: vw(164px);
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px dashed #cccccc;
}

.newChain_addthree {
  margin: vw(10px);
  width: vw(164px);
  height: vw(164px);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.add_new_text {
  font-family: AvenirLTStd-Medium;
  font-size: vw(30px);
  color: #cccccc;
}

.modal_body {
  border-radius: vw(20px);
  padding: 0;
  .modal_head {
    border-top-left-radius: vw(20px);
    border-top-right-radius: vw(20px);
    display: flex;
    line-height: vw(90px);
    font-family: AvenirLTStd-Heavy;
    font-size: vw(35px);
    color: white;
    background: #ff4d2d;
    padding-left: vw(20px);
  }
  .modal_body {
    border-bottom-left-radius: vw(20px);
    border-bottom-right-radius: vw(20px);
    padding: vw(20px) vw(50px);
  }
  .label {
    font-family: AvenirLTStd-Heavy;
    padding: vw(10px) vw(20px);
  }
}

.custom_file_upload {
  cursor: pointer;

  .custom_input_upload {
    width: 100%;
    height: vw(42px);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
  }
  .custom_input_label {
    font-family: 'Avenir-Light';
    font-size: vw(18px);
    display: flex;
    line-height: vw(42px);
    width: 100%;
    cursor: pointer;
  }
}

.opening_time_selector {
  display: flex;
  width: '100%';
  justify-content: space-between;
}

.Selection_box {
  font-family: AvenirLTStd-Book;
  height: vw(70px);
  font-size: vw(25px);
  line-height: vw(27px);
  display: flex;
  width: 100%;
  align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: vw(20px);
}
.dasheds {
  display: flex;
  color: #cccccc;
  display: flex;
  padding: vw(10px);
  align-items: center;
}

.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main_card_container {
  width: vw(350px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .card_title {
    text-align: center;
    font-size: vw(30px);
  }
  span {
    display: block;
    padding: vw(10px);
  }
  .card_desc {
    text-align: center;
    font-size: vw(25px);
    font-family: AvenirLTStd-Light;
  }
}

.main_card_container_active {
  color: #f85032;
  width: vw(350px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .card_title {
    text-align: center;
    font-size: vw(30px);
    color: #f85032 !important;
  }
  span {
    display: block;
    padding: vw(10px);
    color: #f85032;
  }
  .card_desc {
    text-align: center;
    font-size: vw(25px);
    font-family: AvenirLTStd-Light;
    color: #f85032;
  }
}

.select_card {
  color: #f85032;
}

.subscription_card_container {
  width: 100%;
  border-radius: vw(20px);
  height: 53vh;
  border: vw(1px) solid #cccccc;

  img {
    margin-bottom: vw(30px);
  }

  .card_title {
    text-align: center;
    font-size: vw(28px);
    line-height: vw(34px);
    color: #000 !important;
    font-family: AvenirLTStd-Black;
  }
  span {
    display: block;
    padding: vw(10px);
  }
  .card_desc {
    text-align: center;
    font-size: vw(21px);
    line-height: vw(40px);
    font-family: AvenirLTStd-Medium;
    color: #000;
    padding: 0% 28%;
  }
}

.subscription_card_container_active {
  border-radius: vw(20px);
  height: 53vh;
  box-shadow: 0 0 vw(30px) rgba(0, 0, 0, 0.1);

  img {
    margin-bottom: vw(30px);
  }

  .card_title {
    text-align: center;
    font-size: vw(28px);
    line-height: vw(34px);
    color: #f85032 !important;
    font-family: AvenirLTStd-Black;
  }
  span {
    display: block;
    padding: vw(10px);
    color: #f85032;
  }
  .card_desc {
    text-align: center;
    font-size: vw(21px);
    line-height: vw(40px);
    font-family: AvenirLTStd-Medium;
    color: #f85032;
    padding: 0% 28%;
  }
}
