/*========================================================

                Vendor List scss

========================================================*/
@media screen and (min-width: 769px) {
  .table-container {
    text-align: center;
  }
  .table-container .first-row {
    background-color: #ff5757;
  }
  .table-container .first-row th {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: vw(21px);
    color: white;
    height: vw(80px);
  }
  .table-container .second-row td {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: vw(21px);
    height: vw(80px);
  }
  .table-container .second-row .img-padding {
    padding-left: vw(30px);
  }
  .table-container .vendor {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: vw(36px);
  }
  .table-container .vendor-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .table-container .vendor-search .input-bottomblack--input-search {
    background: transparent;
    margin-left: auto;
  }
  .table-container .username-login-form-group img {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 7px;
    left: 165px;
  }
  .table-container .size-select {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 0.9rem !important;
    border: none;
    background-color: transparent;
    color: black;
  }
  .search-label label {
    display: none;
  }
  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: vw(0px);
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
  }
  .popup_inner {
    text-align: left;
    padding: vw(20px);
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: vw(20px);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .popup_inner .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    margin: vw(20px);
  }
  .popup_inner .para-div {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .popup_inner .para-div p {
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    font-size: vw(21px);
    padding: vw(10px);
  }
  .popup_inner .order-notes-button {
    padding-top: vw(30px);
  }
}

/***********************************
            Media Query Vendor List  
***********************************/
@media screen and (max-width: 768px) {
  .table-container {
    text-align: center;
  }
  .table-container .first-row {
    background-color: #ff5757;
  }
  .table-container .first-row th {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: mvw(15px);
    color: white;
    height: auto;
    vertical-align: middle;
    padding: mvw(10px);
  }
  .table-container .second-row td {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: mvw(15px);
    height: auto;
    vertical-align: middle;
  }
  .table-container .second-row .img-padding {
    padding-left: mvw(30px);
  }
  .table-container .vendor {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: mvw(16px);
  }
  .table-container .vendor-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: mvw(10px);
    padding-bottom: mvw(10px);
  }
  .table-container .vendor-search .input-bottomblack--input-search {
    background: transparent;
    margin-left: auto;
  }
  .table-container .username-login-form-group img {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 7px;
    left: 165px;
  }
  .table-container .size-select {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 0.9rem !important;
    border: none;
    background-color: transparent;
    color: black;
  }
  .search-label label {
    display: none;
  }
  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: mvw(0px);
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.2;
  }
  .popup_inner {
    text-align: left;
    padding: mvw(20px);
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: mvw(20px);
    -webkit-box-shadow: 0px 0px 20px #e6e6e6;
            box-shadow: 0px 0px 20px #e6e6e6;
  }
  .popup_inner .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    margin: mvw(20px);
  }
  .popup_inner .para-div {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .popup_inner .para-div p {
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    font-size: mvw(21px);
    padding: mvw(10px);
  }
  .popup_inner .order-notes-button {
    padding-top: mvw(30px);
  }
}
/*# sourceMappingURL=vendorlist.css.map */