.main_my_settings_page {
  font-size: vw(36px);
  line-height: vw(42px);
  font-family: AvenirLTStd-Black;
  color: #000;
  padding: vw(40px) vw(100px);
}

.main_settings_container {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-around;

  .left_settings_panel {
    width: 25%;
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.2);
    border-radius: vw(20px);
    padding: vw(30px) vw(50px);
    // height: vw(825px);

    .restaurant-image {
      width: vw(200px);
      height: vw(200px);
    }
    .name_container {
      display: flex;
      margin-top: vw(20px);
      margin-bottom: vw(10px);

      .edit-restaurant-image {
        width: vw(33.82px);
        height: vw(33.82px);
        margin-left: vw(15px);
      }

      h4 {
        font-size: vw(28px);
        line-height: vw(34px);
        font-family: AvenirLTStd-Black;
        color: #000;
      }
    }

    p {
      font-size: vw(21px);
      line-height: vw(25px);
      font-family: AvenirLTStd-Medium;
      color: #707070;
    }

    .menu_container {
      .circle_settng {
        height: vw(30px);
        width: vw(30px);
        border: vw(1px) solid black;
        border-radius: 50%;
        padding: vw(15px);
      }
      .circle_label {
        padding: vw(15px);
        font-size: vw(20px);
        line-height: vw(24px);
        font-family: AvenirLTStd-Black;
        cursor: pointer;
        color: #000;
      }
    }

    .menu_container_active {
      .circle_settng {
        height: vw(30px);
        width: vw(30px);
        border: vw(1px) solid #ff4d2d;
        background-color: #ff4d2d;
        border-radius: 50%;
        padding: vw(15px);
      }
      .circle_label {
        padding: vw(15px);
        font-size: vw(20px);
        line-height: vw(24px);
        font-family: AvenirLTStd-Black;
        cursor: pointer;
        color: #ff4d2d;
      }
    }
  }

  .right_settings_panel {
    width: 70%;
    box-shadow: vw(0px) vw(0px) vw(20px) rgba(0, 0, 0, 0.2);
    border-radius: vw(20px);
    // height: vw(825px);
    padding: vw(30px) vw(30px) vw(30px) vw(0px);

    .inside-right-pannel {
      padding: vw(15px);
      overflow: scroll;
      overflow-x: hidden;
      height: 70vh;

      h4 {
        font-size: vw(36px);
        line-height: vw(43px);
        font-family: AvenirLTStd-Black;
        color: #000;
      }

      .drop-pin-css {
        color: #000;
        font-size: vw(21px);
        line-height: vw(25px);
        font-family: AvenirLTStd-Medium;
        text-transform: capitalize;
        margin-bottom: vw(10px);
      }

      .textarea-custom {
        border: vw(1px) solid rgba(204, 204, 204, 0.5) !important;
        border-radius: vw(30px);
        padding: vw(20px);
      }

      iframe {
        width: 100%;
        height: 55vh;
        border: none;
        margin-bottom: vw(30px);
        border-radius: vw(30px);
      }

      .Cntact-person-css {
        font-size: vw(36px);
        line-height: vw(42px);
        font-family: AvenirLTStd-Black;
        color: #000;
      }

      // Restaurant Css
      .restaurant-title {
        font-size: vw(22px);
        line-height: vw(34px);
        font-family: AvenirLTStd-Black;
        color: #000;
        margin-top: vw(30px);
        margin-bottom: vw(15px);
      }

      .textarea-restaurant {
        border: vw(1px) solid rgba(204, 204, 204, 0.5) !important;
        border-radius: vw(30px);
      }
    }
    /*
    *  STYLE 4
    */

    #style-4::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #ccc;
    }

    #style-4::-webkit-scrollbar {
      width: vw(8px);
      background-color: #ccc;
    }

    #style-4::-webkit-scrollbar-thumb {
      background-color: #ff4d2d;
      border: vw(2px) solid #ccc;
    }
  }
}
