/********************
    Function Css
********************/
/********************
    Global Css hii
********************/
/***********************************
            Global Reset             
***********************************/
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

/************************************
        Button Component Css
************************************/
.button-main {
  width: 12.91667vw;
  height: 3.125vw;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  border-radius: 1.5625vw;
}

.button-orange {
  background-color: #f85032;
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #f85032;
  border: 0.10417vw solid #f85032;
}

.button-orange:hover {
  color: #fff;
}

.button-white:hover {
  color: #f85032;
}

/************************************
       Sliding Component Css
************************************/
.toggle__switch {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.76042vw;
  height: 1.40625vw;
  border-radius: 3.125vw;
  position: relative;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.toggle__switch:after {
  content: '';
  display: block;
  width: 1.09375vw;
  height: 1.09375vw;
  background-color: #cccccc;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 3.125vw;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  left: calc(94% - 18px);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.toggle__switch:checked {
  background-color: #fff;
}

.toggle__switch:checked:after {
  left: 6%;
  background-color: #72ff5a;
}

/************************************
        Hr Component Css
************************************/
.hr-global {
  border-top: 1px solid #f85032 !important;
}

/************************************
        Parent Component Css
************************************/
.heading-title {
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-bottom: 1.09375vw !important;
}

/************************************
        Input Component Css
************************************/
.input-label {
  color: #000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  text-transform: capitalize;
  margin-bottom: 0.52083vw;
}

.input-container {
  display: -ms-flexbox;
  /* IE10 */
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin-bottom: 0.78125vw;
}

.input-container .img-box {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e6e6e6;
  opacity: 1 !important;
  background-color: #fff !important;
  border-right: none;
  border-top-left-radius: 1.5625vw;
  border-bottom-left-radius: 1.5625vw;
}

.input-container .img-box .img {
  width: 1.97917vw;
  height: 1.97917vw;
}

.input-container .input-field {
  width: 100%;
  height: 3.125vw;
  background-color: #fff !important;
  opacity: 1 !important;
  outline: none;
  border-left: none !important;
  border: 1px solid #e6e6e6;
  border-top-right-radius: 1.5625vw;
  border-bottom-right-radius: 1.5625vw;
}

.input-container .map-inputfield {
  width: 100%;
  height: 3.125vw;
  background-color: #fff !important;
  opacity: 1 !important;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 1.5625vw;
  padding-left: 1.04167vw;
  padding-right: 1.04167vw;
}

.input-container .input-field:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-container ::-webkit-input-placeholder {
  color: #e6e6e6;
}

.input-container :-ms-input-placeholder {
  color: #e6e6e6;
}

.input-container ::-ms-input-placeholder {
  color: #e6e6e6;
}

.input-container ::placeholder {
  color: #e6e6e6;
}

.custom-input {
  height: 4.6875vw !important;
  border-top-left-radius: 2.34375vw !important;
  border-bottom-left-radius: 2.34375vw !important;
}

.custom-inputtwo {
  width: 10.41667vw !important;
  height: 4.6875vw !important;
  border-top-right-radius: 2.34375vw !important;
  border-bottom-right-radius: 2.34375vw !important;
}

.disable-input-button-css {
  width: 100%;
  height: 3.125vw;
  background-color: #f7f7f7 !important;
  outline: none;
  border: 1px solid #f7f7f7;
  border-radius: 1.5625vw;
  padding-left: 1.04167vw;
  padding-right: 1.04167vw;
}

.disable-textarea-custom-css {
  background-color: #f7f7f7 !important;
  outline: none;
  border: 1px solid #f7f7f7;
  border-radius: 1.5625vw;
  width: 100%;
  height: auto;
  padding: 1.04167vw;
}

/************************************
        Header Component Css
************************************/
.header-main-background {
  padding: 1.45833vw 7.34375vw;
  -webkit-box-shadow: 0vw 0.15625vw 0.3125vw rgba(0, 0, 0, 0.16);
          box-shadow: 0vw 0.15625vw 0.3125vw rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  width: 100%;
  height: 4.6875vw;
}

.header-main-background .navbar-brand {
  color: #000;
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
}

.header-main-background .nav-link {
  color: #000;
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Roman;
}

.header-main-background .navbar-nav .active {
  color: #000;
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 0.78125vw;
  font-family: AvenirLTStd-Light;
}

.curve_input_field {
  font-family: AvenirLTStd-Book;
  height: 3.64583vw;
  font-size: 1.30208vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: 1.04167vw;
}

.curve_input_field:focus {
  font-family: AvenirLTStd-Book;
  height: 3.64583vw;
  font-size: 1.30208vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: 1.04167vw;
}

.curve_input_field::-webkit-input-placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

.curve_input_field:-ms-input-placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

.curve_input_field::-ms-input-placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

.curve_input_field::placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

/********************
    Typography scss
********************/
@font-face {
  font-family: AvenirLTStd-Black;
  src: url("./assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: AvenirLTStd-BlackOblique;
  src: url("./assets/fonts/AvenirLTStd-BlackOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Book;
  src: url("./assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: AvenirLTStd-BookOblique;
  src: url("./assets/fonts/AvenirLTStd-BookOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url("./assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: AvenirLTStd-HeavyOblique;
  src: url("./assets/fonts/AvenirLTStd-HeavyOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Light;
  src: url("./assets/fonts/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: AvenirLTStd-LightOblique;
  src: url("./assets/fonts/AvenirLTStd-LightOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url("./assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: AvenirLTStd-MediumOblique;
  src: url("./assets/fonts/AvenirLTStd-MediumOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Oblique;
  src: url("./assets/fonts/AvenirLTStd-Oblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("./assets/fonts/AvenirLTStd-Roman.otf");
}

/********************
    Navigation Css
********************/
/***=====================================
  Login Css
=====================================***/
.login-background-banner {
  background-image: url("../src/assets/images/loginsignupotp/loginBanner.png");
}

.signup-background-banner {
  background-image: url("../src//assets//images/loginsignupotp/signBanner.png");
}

.otp-background-banner {
  background-image: url("../src/assets/images/loginsignupotp/otpBanner.png");
}

.main-Login {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-Login .login-background {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.1);
          box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.1);
  border-radius: 1.04167vw;
  padding: 0;
  width: 30.52083vw;
  height: auto;
}

.main-Login .login_orange {
  background-color: #f85032;
  -webkit-box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.1);
          box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.1);
  height: 5.36458vw;
  border-top-left-radius: 1.04167vw;
  border-top-right-radius: 1.04167vw;
}

.main-Login .login_orange h1 {
  padding: 1.5625vw 0vw 1.5625vw 1.5625vw;
  color: #fff;
  font-size: 1.875vw;
  line-height: 2.23958vw;
  font-family: AvenirLTStd-Black;
}

.main-Login .login_padding {
  padding: 1.5625vw;
}

.main-Login .view-button {
  width: 1.39583vw;
  height: 0.79948vw;
  margin-top: 1.30208vw;
}

.main-Login .forgot-password {
  color: #000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  text-transform: capitalize;
  margin-bottom: 0.52083vw;
  text-align: right;
  margin-bottom: 1.09375vw;
  text-decoration: none;
}

/*********************
    OTP CSS
*********************/
.signup-select-form label {
  color: #000000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  margin-bottom: 0.52083vw;
  padding-left: 0.78125vw;
}

.signup-select-form .select-custom {
  width: 5.67708vw;
  height: 3.125vw;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
  color: #e6e6e6;
  padding: 0;
}

/*********************
    OTP CSS
*********************/
.otp-classes .otp-para {
  color: #707070;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Book;
  margin-bottom: 0.52083vw;
}

.otp-classes .otp-heading {
  color: #000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Black;
  font-weight: bold;
  margin-bottom: 0.52083vw;
}

.otp-classes .otp-headingtwo {
  color: #707070;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Book;
  margin-bottom: 0.52083vw;
}

.otp-classes .otp-headingtwo b {
  color: #000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Black;
  font-weight: bold;
}

.otp-inputfield-class .input-all-field {
  border: 1px solid #707070;
  border-left: none;
  border-right: none;
  padding: 1.04167vw 0vw;
  text-align: center;
}

.otp-inputfield-class .otp-input-box {
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
  padding: 0.52083vw;
  padding-left: 3.54167vw;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Book, sans-serif, Helvetica;
  border-radius: 1.04167vw;
  width: 3.125vw;
  height: 3.125vw;
  padding: 0.52083vw;
  text-align: center;
}

.otp-inputfield-class .otp-input-box:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.otp-inputfield-class .otp-input-dash {
  color: #000000;
  margin-left: 0.57292vw;
  margin-right: 0.57292vw;
}

.otp-inputfield-class .otp-input-dash:last-child {
  display: none;
}

.otp-inputfield-class .have-received {
  color: #000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  margin-top: 1.5625vw;
  margin-bottom: 1.5625vw;
}

/********************
    Main Details Page scss
********************/
.main-details {
  /*************************
   * MAIN DETAILS SECTIONONE
   *8************************/
  /*
    *  STYLE 4
    */
  /*************************
   * MAIN DETAILS SECTIONTWO
   *8************************/
}

.main-details .main-details-sectionone {
  height: 100vh;
  padding: 4.58333vw 7.34375vw 1.04167vw 7.34375vw;
  overflow: scroll;
  overflow-x: hidden;
  /***=============== 
      map page css 
    ===============***/
  /***=============== 
      MAP YES PAGE CSS 
    ================***/
  /*************************
   * CUSINE CSS
   *8************************/
}

.main-details .main-details-sectionone .map-setup {
  margin-top: 18.22917vw;
}

.main-details .main-details-sectionone .map-setup h4 {
  font-size: 1.875vw;
  line-height: 2.23958vw;
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-bottom: 1.5625vw;
}

.main-details .main-details-sectionone .map-setup p {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  color: #000;
  margin-bottom: 1.5625vw;
}

.main-details .main-details-sectionone .map-setup-yes h4 {
  font-size: 1.875vw;
  line-height: 2.23958vw;
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-bottom: 1.5625vw;
}

.main-details .main-details-sectionone .map-setup-yes p {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  color: #000;
  margin-bottom: 1.5625vw;
}

.main-details .main-details-sectionone .map-setup-yes .textarea-custom {
  border: 0.05208vw solid rgba(204, 204, 204, 0.5) !important;
  border-radius: 1.5625vw;
  padding: 1.04167vw;
}

.main-details .main-details-sectionone .map-setup-yes .example-upload-kyc {
  color: #ccc;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-MediumOblique;
}

.main-details .main-details-sectionone iframe {
  width: 100%;
  height: 55vh;
  border: none;
  margin-bottom: 1.5625vw;
  border-radius: 1.5625vw;
}

.main-details .main-details-sectionone .account-type {
  color: #000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Black;
  margin-bottom: 1.30208vw;
}

.main-details #style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #ccc !important;
}

.main-details #style-3::-webkit-scrollbar {
  width: 0vw !important;
  background-color: #ccc !important;
}

.main-details #style-3::-webkit-scrollbar-thumb {
  background-color: #ff4d2d !important;
  border: none;
}

.main-details .main-details-sectiontwo {
  height: 100vh;
  -webkit-box-shadow: 0vw 0vw 1.5625vw rgba(0, 0, 0, 0.1);
          box-shadow: 0vw 0vw 1.5625vw rgba(0, 0, 0, 0.1);
  border-top-left-radius: 1.04167vw;
  border-bottom-left-radius: 1.04167vw;
  text-align: center;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(117deg, #ffa382 0%, #ff4d2d 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA382', endColorstr='#FF4D2D',GradientType=1 );
  /* ie6-9 */
}

.main-details .main-details-sectiontwo h5 {
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #fff;
  margin-top: 1.45833vw;
  margin-bottom: 1.45833vw;
  text-align: center;
}

.main-details .main-details-sectiontwo .button-without-round {
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #fff;
  border-radius: 2.60417vw;
  width: 3.85417vw;
  height: 3.85417vw;
}

.main-details .main-details-sectiontwo .button-withRound {
  border: 2px solid #fff !important;
}

.main-details .main-details-sectiontwo .button-background-select {
  background-color: #fff;
  color: #ff4d2d;
}

.main-details .main-details-sectiontwo button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-details .main-details-sectiontwo .store-setup {
  text-align: center;
}

.main-details .main-details-sectiontwo .store-setup h4 {
  font-size: 1.875vw;
  line-height: 2.23958vw;
  font-family: AvenirLTStd-Black;
  color: #fff;
  margin-top: 10.26042vw;
  margin-bottom: 2.44792vw;
  text-align: center;
}

.main-details .main-details-sectiontwo .store-setup img {
  width: 7.8125vw;
  height: 7.8125vw;
}

.main-details .main-details-sectiontwo .store-setup p {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Book;
  color: #fff;
  margin-top: 2.43854vw;
}

/********************
    DashBoard Scss
********************/
.main-dashboard-back {
  width: 100%;
  padding: 1.74479vw 7.34375vw;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(91deg, #ff4d2d 0%, #ffa382 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4D2D', endColorstr='#FFA382',GradientType=1 );
  /* ie6-9 */
}

.main-dashboard-back .hamburgur-class {
  color: #fff !important;
  width: 1.83594vw;
  height: 1.22396vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-dashboard-back h4 {
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #fff;
  margin-left: 5.20833vw;
}

/*****=================
  *  Dashboar Link Css
  =================*****/
.dashboard-menu-slide {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  padding: 1.5625vw 3.95833vw 1.5625vw 3.95833vw;
  /* ff3.6+ */
  /* safari4+,chrome */
  /* safari5.1+,chrome10+ */
  /* opera 11.10+ */
  /* ie10+ */
  background: linear-gradient(117deg, #ffa382 0%, #ff4d2d 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFA382', endColorstr='#FF4D2D',GradientType=1 );
  /* ie6-9 */
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
  -webkit-animation: imganim 0.5s linear both;
          animation: imganim 0.5s linear both;
  -webkit-box-shadow: 0vw 0vw 1.5625vw rgba(0, 0, 0, 0.1);
          box-shadow: 0vw 0vw 1.5625vw rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.dashboard-menu-slide h4 {
  font-size: 1.875vw;
  line-height: 2.23958vw;
  color: #fff;
  font-family: AvenirLTStd-Black;
  margin-left: 0;
}

.dashboard-menu-slide .times-fontawesome {
  width: 1.45833vw;
  height: 1.45833vw;
  color: #fff;
  position: absolute;
  right: -1.30208vw;
  cursor: pointer;
}

.dashboard-menu-slide .restaurant-open {
  border: none;
  border-top: 0.05208vw solid #fff;
  border-bottom: 0.05208vw solid #fff;
  padding: 0;
  margin-top: 1.5625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard-menu-slide .restaurant-open h5 {
  font-size: 1.25vw;
  line-height: 1.51042vw;
  color: #fff;
  font-family: AvenirLTStd-Roman;
  margin-top: 2.03125vw;
  margin-bottom: 2.03125vw;
}

.dashboard-menu-slide .menu-nav {
  display: -ms-inline-grid;
  display: inline-grid;
  margin-bottom: 2.08333vw;
  padding: 0;
}

.dashboard-menu-slide .menu-nav a {
  font-size: 1.25vw;
  font-family: AvenirLTStd-Roman, sans-serif, Helvetica;
  color: white;
  margin-left: 0.78125vw;
  text-decoration: none;
}

.dashboard-menu-slide .menu-nav .total-navlink-div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 12px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-menu-slide .menu-nav .empty-div {
  border: 1px solid white;
  border-radius: 12px;
  padding: 10px;
  width: 10px;
  height: auto;
}

.dashboard-menu-slide .logout-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 1.5625vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.dashboard-menu-slide .logout-div .logout-text {
  font-size: 1.25vw;
  font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  color: white;
}

.dashboard-menu-slide .logout-div img {
  width: 3.55208vw;
  height: 3.55208vw;
}

@-webkit-keyframes imganim {
  from {
    width: 10%;
    height: 100vh;
  }
  to {
    width: 25%;
    height: 100vh;
  }
}

@keyframes imganim {
  from {
    width: 10%;
    height: 100vh;
  }
  to {
    width: 25%;
    height: 100vh;
  }
}

/**************************
    Small Component Scss
**************************/
.main-icon-button_active {
  width: 12.91667vw;
  height: 3.64583vw;
  border: 0.05208vw solid #f85032;
  background-color: #fff;
  border-radius: 2.34375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.04167vw;
  margin: 0.52083vw;
  padding-right: 1.04167vw;
  cursor: pointer;
}

.main-icon-button_active img {
  width: 2.5vw;
  height: 2.5vw;
}

.main-icon-button_active .para-data-icon {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  color: #f85032;
  font-family: AvenirLTStd-Light;
  margin-left: 1.04167vw;
  text-transform: capitalize;
}

.main-icon-button {
  width: 12.91667vw;
  height: 3.64583vw;
  border: 0.05208vw solid #cccccc;
  background-color: #fff;
  border-radius: 2.34375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.04167vw;
  margin: 0.52083vw;
  padding-right: 1.04167vw;
  cursor: pointer;
}

.main-icon-button img {
  width: 2.5vw;
  height: 2.5vw;
}

.main-icon-button .para-data-icon {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  color: #000;
  font-family: AvenirLTStd-Medium;
  margin-left: 1.04167vw;
  text-transform: capitalize;
}

.main-icon-button:active {
  background-color: #f85032;
}

.main-icon-button:active p {
  color: #fff;
}

.main-suggest-button {
  width: 12.91667vw;
  height: 3.64583vw;
  border: 0.05208vw solid #f85032;
  background-color: #fff;
  border-radius: 2.34375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.04167vw;
  padding-right: 1.04167vw;
  margin-bottom: 3.125vw;
}

.main-suggest-button .inside-div {
  width: 2.5vw;
  height: 2.5vw;
  border: 0.05208vw solid #f85032;
  border-radius: 2.60417vw;
  padding: 0.57292vw;
}

.main-suggest-button .inside-div .icon-color {
  color: #f85032;
  font-size: 1.43906vw;
}

.main-suggest-button .para-data {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  color: #f85032 !important;
  font-family: AvenirLTStd-Black;
  margin-left: 1.04167vw;
  text-transform: capitalize;
}

.suggest_new_main_div {
  width: 12.91667vw;
  height: 3.64583vw;
  border: 0.05208vw solid #f85032;
  background-color: #fff;
  border-radius: 2.34375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.04167vw;
  margin: 0.52083vw;
  padding-right: 1.04167vw;
  cursor: pointer;
}

.suggest_new_main_div .circle_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.05208vw solid #f85032;
  border-radius: 50%;
  height: 2.08333vw;
  width: 2.08333vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.suggest_new_main_div .suggest_new_title {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  color: #f85032;
  font-family: AvenirLTStd-Black;
  margin-left: 1.04167vw;
  text-transform: capitalize;
}

/***********************************
    Modal POPUP CSS             
***********************************/
.modal-content {
  border-radius: 1.04167vw;
}

.modal-content .suggest-new-title {
  padding: 1.5625vw;
  background-color: #ff4d2d;
  border-top-left-radius: 1.04167vw;
  border-top-right-radius: 1.04167vw;
}

.modal-content .suggest-new-title h3 {
  font-size: 1.875vw;
  line-height: 2.23958vw;
  color: #fff;
  font-family: AvenirLTStd-Black;
}

.modal-content .inside-body-section {
  padding: 1.5625vw;
}

.modal-content .inside-body-section .input-label-suggest {
  font-size: 1.45833vw;
  color: #000;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  margin-bottom: 1.09375vw;
}

.modal-content .inside-body-section .select-category {
  border: 0.05208vw solid rgba(204, 204, 204, 0.7);
  border-radius: 2.34375vw;
  width: 100%;
  height: 3.125vw;
  padding-left: 0.52083vw;
  padding-right: 0.52083vw;
  color: #ccc;
}

.modal-content .inside-body-section .textarea-custom {
  border: 0.05208vw solid #ccc;
  border-radius: 1.5625vw;
  padding: 1.04167vw;
}

.modal-content .inside-body-section .insid-body-headinone {
  font-size: 1.25vw;
  color: #000;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Black;
  margin-bottom: 1.09375vw;
}

.modal-content .inside-body-section .insid-body-paragraph {
  font-size: 1.04167vw;
  color: #000;
  line-height: 1.14583vw;
  font-family: AvenirLTStd-Roman;
  margin-bottom: 2.08333vw;
}

/***=============================
    QR CODE Css
=============================***/
.Qr-code-paragraph {
  font-size: 1.04167vw;
  line-height: 1.25vw;
  font-family: AvenirLTStd-Roman;
  color: #000;
}

/***=============================
    Terms and Condition CSS
=============================***/
.term-and-condition-title {
  background-color: #ff4d2d;
  padding: 1.5625vw;
  border-top-left-radius: 1.04167vw;
  border-top-right-radius: 1.04167vw;
  -webkit-box-shadow: 0 0 1.04167vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.04167vw rgba(0, 0, 0, 0.1);
}

.term-and-condition-title h3 {
  font-size: 1.5625vw;
  line-height: 1.92708vw;
  color: #fff;
  font-family: AvenirLTStd-Black;
}

.term-and-condition-widthmain {
  margin: 1.5625vw;
  background-color: #fff;
  /*
    *  STYLE 4
    */
}

.term-and-condition-widthmain .term-and-condition-width {
  overflow-y: scroll;
  margin-bottom: 1.30208vw;
  padding: 1.5625vw;
  height: 50vh;
  background-color: #fafafa;
  border-radius: 1.04167vw;
}

.term-and-condition-widthmain .term-and-condition-width .term-and-condition-para {
  min-height: 50vh;
}

.term-and-condition-widthmain .term-and-condition-width .term-and-condition-para h3 {
  font-size: 1.14583vw;
  line-height: 1.30208vw;
  color: #000;
  font-family: AvenirLTStd-Black;
}

.term-and-condition-widthmain .term-and-condition-width .term-and-condition-para span {
  font-size: 1.14583vw;
  line-height: 1.30208vw;
  color: #000;
  float: left;
  font-family: AvenirLTStd-Black;
}

.term-and-condition-widthmain .term-and-condition-width .term-and-condition-para p {
  font-size: 1.04167vw;
  line-height: 1.30208vw;
  color: #000;
  font-family: AvenirLTStd-Book;
}

.term-and-condition-widthmain #style-3::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  background-color: #ccc !important;
}

.term-and-condition-widthmain #style-3::-webkit-scrollbar {
  width: 0.41667vw !important;
  background-color: #ccc !important;
}

.term-and-condition-widthmain #style-3::-webkit-scrollbar-thumb {
  background-color: #ff4d2d !important;
  border: none !important;
}

/***=============================
    Chain Display CSS
=============================***/
.chain-display-image {
  padding: 0.78125vw !important;
}

.chain-display-image h3 {
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-bottom: 1.04167vw;
}

.chain-display-image img {
  width: 8.33333vw;
  height: 8.33333vw;
  border: 0.05208vw solid #cccccc;
  border-radius: 1.04167vw;
  margin: 0.26042vw;
}

/***=============================
    CHANGE LOGO DESIGN CSS
=============================***/
.main-change-logo {
  padding: 1.5625vw;
}

.main-change-logo h5 {
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-bottom: 1.04167vw;
}

.poc_add_another {
  min-height: 1.5625vw;
  text-align: right;
}

.form_container_poc {
  padding-top: 1.5625vw;
  width: 27.39583vw;
  margin: auto;
}

.form_container_poc .poc_label {
  font-family: AvenirLTStd-Medium;
  font-size: 1.30208vw;
}

.form_container_poc .poc_input_field {
  font-family: AvenirLTStd-Book;
  height: 3.125vw;
  font-size: 1.30208vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: 1.04167vw;
}

.form_container_poc .poc_input_field:focus {
  font-family: AvenirLTStd-Book;
  height: 3.125vw;
  font-size: 1.30208vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: 1.04167vw;
}

.form_container_poc .poc_input_field::-webkit-input-placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

.form_container_poc .poc_input_field:-ms-input-placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

.form_container_poc .poc_input_field::-ms-input-placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

.form_container_poc .poc_input_field::placeholder {
  font-family: AvenirLTStd-Book;
  font-size: 1.30208vw;
  height: 2.70833vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: 1.04167vw;
}

.form_container_poc .poc_td {
  padding-top: 0.67708vw;
  padding-bottom: 0.67708vw;
}

.form_container_poc .poc_input_field_add {
  font-family: AvenirLTStd-Book;
  height: 3.125vw;
  font-size: 1.30208vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c8c8c;
  border: 2px dashed #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: 1.04167vw;
  cursor: pointer;
}

.table_contact_container {
  padding-top: 4.16667vw;
  margin: auto;
}

.table_contact_container .added_contacts {
  font-family: AvenirLTStd-Heavy;
  font-size: 1.5625vw;
}

.table_contact_container .td_head {
  font-family: AvenirLTStd-Medium;
  font-size: 1.30208vw;
  line-height: 4.16667vw;
  color: white;
  background: #f85032;
  text-align: center;
}

.table_contact_container .td_body {
  font-family: AvenirLTStd-Medium;
  font-size: 0.98958vw;
  line-height: 3.125vw;
  color: black;
  background: white;
  text-align: center;
}

.table_contact_container table {
  border-collapse: collapse;
  border-radius: 1.5625vw;
  margin-top: 1.04167vw;
  margin-bottom: 2.08333vw;
  border-style: hidden;
  /* hide standard table (collapsed) border */
  -webkit-box-shadow: 0 0 1.5625vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1.5625vw rgba(0, 0, 0, 0.5);
}

.table_contact_container table tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

.table_contact_container table tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

.table_contact_container table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.table_contact_container table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.seleect_chain {
  font-family: AvenirLTStd-Heavy;
  font-size: 1.30208vw;
}

.view_chainsBor {
  width: 56.35417vw;
  height: 10.625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.52083vw;
  margin-top: 1.5625vw;
  border: 1px solid #cccccc;
  border-radius: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newChain_add {
  margin: 0.52083vw;
  width: 8.54167vw;
  height: 8.54167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 2px dashed #cccccc;
}

.newChain_addtwo {
  margin: 0.52083vw;
  width: 8.54167vw;
  height: 8.54167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  border: 2px dashed #cccccc;
}

.newChain_addthree {
  margin: 0.52083vw;
  width: 8.54167vw;
  height: 8.54167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
}

.add_new_text {
  font-family: AvenirLTStd-Medium;
  font-size: 1.5625vw;
  color: #cccccc;
}

.modal_body {
  border-radius: 1.04167vw;
  padding: 0;
}

.modal_body .modal_head {
  border-top-left-radius: 1.04167vw;
  border-top-right-radius: 1.04167vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 4.6875vw;
  font-family: AvenirLTStd-Heavy;
  font-size: 1.82292vw;
  color: white;
  background: #ff4d2d;
  padding-left: 1.04167vw;
}

.modal_body .modal_body {
  border-bottom-left-radius: 1.04167vw;
  border-bottom-right-radius: 1.04167vw;
  padding: 1.04167vw 2.60417vw;
}

.modal_body .label {
  font-family: AvenirLTStd-Heavy;
  padding: 0.52083vw 1.04167vw;
}

.custom_file_upload {
  cursor: pointer;
}

.custom_file_upload .custom_input_upload {
  width: 100%;
  height: 2.1875vw;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  cursor: pointer;
}

.custom_file_upload .custom_input_label {
  font-family: 'Avenir-Light';
  font-size: 0.9375vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.1875vw;
  width: 100%;
  cursor: pointer;
}

.opening_time_selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: '100%';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Selection_box {
  font-family: AvenirLTStd-Book;
  height: 3.64583vw;
  font-size: 1.30208vw;
  line-height: 1.40625vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: 1.04167vw;
}

.dasheds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #cccccc;
  display: flex;
  padding: 0.52083vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_card_container {
  width: 18.22917vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_card_container .card_title {
  text-align: center;
  font-size: 1.5625vw;
}

.main_card_container span {
  display: block;
  padding: 0.52083vw;
}

.main_card_container .card_desc {
  text-align: center;
  font-size: 1.30208vw;
  font-family: AvenirLTStd-Light;
}

.main_card_container_active {
  color: #f85032;
  width: 18.22917vw;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main_card_container_active .card_title {
  text-align: center;
  font-size: 1.5625vw;
  color: #f85032 !important;
}

.main_card_container_active span {
  display: block;
  padding: 0.52083vw;
  color: #f85032;
}

.main_card_container_active .card_desc {
  text-align: center;
  font-size: 1.30208vw;
  font-family: AvenirLTStd-Light;
  color: #f85032;
}

.select_card {
  color: #f85032;
}

.subscription_card_container {
  width: 100%;
  border-radius: 1.04167vw;
  height: 53vh;
  border: 0.05208vw solid #cccccc;
}

.subscription_card_container img {
  margin-bottom: 1.5625vw;
}

.subscription_card_container .card_title {
  text-align: center;
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  color: #000 !important;
  font-family: AvenirLTStd-Black;
}

.subscription_card_container span {
  display: block;
  padding: 0.52083vw;
}

.subscription_card_container .card_desc {
  text-align: center;
  font-size: 1.09375vw;
  line-height: 2.08333vw;
  font-family: AvenirLTStd-Medium;
  color: #000;
  padding: 0% 28%;
}

.subscription_card_container_active {
  border-radius: 1.04167vw;
  height: 53vh;
  -webkit-box-shadow: 0 0 1.5625vw rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1.5625vw rgba(0, 0, 0, 0.1);
}

.subscription_card_container_active img {
  margin-bottom: 1.5625vw;
}

.subscription_card_container_active .card_title {
  text-align: center;
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  color: #f85032 !important;
  font-family: AvenirLTStd-Black;
}

.subscription_card_container_active span {
  display: block;
  padding: 0.52083vw;
  color: #f85032;
}

.subscription_card_container_active .card_desc {
  text-align: center;
  font-size: 1.09375vw;
  line-height: 2.08333vw;
  font-family: AvenirLTStd-Medium;
  color: #f85032;
  padding: 0% 28%;
}

.main_my_settings_page {
  font-size: 1.875vw;
  line-height: 2.1875vw;
  font-family: AvenirLTStd-Black;
  color: #000;
  padding: 2.08333vw 5.20833vw;
}

.main_settings_container {
  width: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main_settings_container .left_settings_panel {
  width: 25%;
  -webkit-box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.2);
          box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.2);
  border-radius: 1.04167vw;
  padding: 1.5625vw 2.60417vw;
}

.main_settings_container .left_settings_panel .restaurant-image {
  width: 10.41667vw;
  height: 10.41667vw;
}

.main_settings_container .left_settings_panel .name_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.04167vw;
  margin-bottom: 0.52083vw;
}

.main_settings_container .left_settings_panel .name_container .edit-restaurant-image {
  width: 1.76146vw;
  height: 1.76146vw;
  margin-left: 0.78125vw;
}

.main_settings_container .left_settings_panel .name_container h4 {
  font-size: 1.45833vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #000;
}

.main_settings_container .left_settings_panel p {
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  color: #707070;
}

.main_settings_container .left_settings_panel .menu_container .circle_settng {
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.05208vw solid black;
  border-radius: 50%;
  padding: 0.78125vw;
}

.main_settings_container .left_settings_panel .menu_container .circle_label {
  padding: 0.78125vw;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  font-family: AvenirLTStd-Black;
  cursor: pointer;
  color: #000;
}

.main_settings_container .left_settings_panel .menu_container_active .circle_settng {
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.05208vw solid #ff4d2d;
  background-color: #ff4d2d;
  border-radius: 50%;
  padding: 0.78125vw;
}

.main_settings_container .left_settings_panel .menu_container_active .circle_label {
  padding: 0.78125vw;
  font-size: 1.04167vw;
  line-height: 1.25vw;
  font-family: AvenirLTStd-Black;
  cursor: pointer;
  color: #ff4d2d;
}

.main_settings_container .right_settings_panel {
  width: 70%;
  -webkit-box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.2);
          box-shadow: 0vw 0vw 1.04167vw rgba(0, 0, 0, 0.2);
  border-radius: 1.04167vw;
  padding: 1.5625vw 1.5625vw 1.5625vw 0vw;
  /*
    *  STYLE 4
    */
}

.main_settings_container .right_settings_panel .inside-right-pannel {
  padding: 0.78125vw;
  overflow: scroll;
  overflow-x: hidden;
  height: 70vh;
}

.main_settings_container .right_settings_panel .inside-right-pannel h4 {
  font-size: 1.875vw;
  line-height: 2.23958vw;
  font-family: AvenirLTStd-Black;
  color: #000;
}

.main_settings_container .right_settings_panel .inside-right-pannel .drop-pin-css {
  color: #000;
  font-size: 1.09375vw;
  line-height: 1.30208vw;
  font-family: AvenirLTStd-Medium;
  text-transform: capitalize;
  margin-bottom: 0.52083vw;
}

.main_settings_container .right_settings_panel .inside-right-pannel .textarea-custom {
  border: 0.05208vw solid rgba(204, 204, 204, 0.5) !important;
  border-radius: 1.5625vw;
  padding: 1.04167vw;
}

.main_settings_container .right_settings_panel .inside-right-pannel iframe {
  width: 100%;
  height: 55vh;
  border: none;
  margin-bottom: 1.5625vw;
  border-radius: 1.5625vw;
}

.main_settings_container .right_settings_panel .inside-right-pannel .Cntact-person-css {
  font-size: 1.875vw;
  line-height: 2.1875vw;
  font-family: AvenirLTStd-Black;
  color: #000;
}

.main_settings_container .right_settings_panel .inside-right-pannel .restaurant-title {
  font-size: 1.14583vw;
  line-height: 1.77083vw;
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-top: 1.5625vw;
  margin-bottom: 0.78125vw;
}

.main_settings_container .right_settings_panel .inside-right-pannel .textarea-restaurant {
  border: 0.05208vw solid rgba(204, 204, 204, 0.5) !important;
  border-radius: 1.5625vw;
}

.main_settings_container .right_settings_panel #style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

.main_settings_container .right_settings_panel #style-4::-webkit-scrollbar {
  width: 0.41667vw;
  background-color: #ccc;
}

.main_settings_container .right_settings_panel #style-4::-webkit-scrollbar-thumb {
  background-color: #ff4d2d;
  border: 0.10417vw solid #ccc;
}

/***=================================
    *** @DESC POC FRIST CSS
=================================***/
/*========================================================

                    variables

========================================================*/
/********************
    Global scss
********************/
/***********************************
            Global Reset             
***********************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcfcfc;
  color: #000000;
  font-family: AvenirLTStd-Book, sans-serif, Helvetica;
}

/*** input field class ***/
.input-bottomblack {
  padding-left: 2.86458vw;
  margin-left: 0;
  margin-bottom: 1.04167vw;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}

/*** Button Classes ***/
button {
  border: transparent;
}

button:focus {
  outline: 0;
}

/*** Textarea class ***/
.textarea-bottomblack {
  padding-left: 2.86458vw;
  margin-left: 0;
  margin-bottom: 1.04167vw;
  border: 1px solid #cccccc;
  border-radius: 1.5625vw;
}

/**============
 validation css
============**/
.main-validation-div {
  text-align: left;
}

.main-validation-div .isnotvalid {
  font-size: 1.04167vw;
  color: red;
}

.table {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.input-field-css {
  width: 20%;
  text-align: center;
  margin-right: 1.04167vw;
}

/***********************************
            Media Query Navigation   
***************************************/
@media screen and (max-width: 768px) {
  table {
    margin-top: 0rem;
    border-radius: 0 !important;
    margin-bottom: 0rem !important;
  }
  .input-bottomblack {
    padding-left: 14.66667vw;
    margin-left: 0;
    margin-bottom: 5.33333vw;
    border: 1px solid #cccccc;
    border-radius: 8vw;
  }
}

/********************
    Navigation Css
********************/
@media screen and (min-width: 769px) {
  .main-header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.15625vw 0.3125vw 0 #e6e6e6;
            box-shadow: 0 0.15625vw 0.3125vw 0 #e6e6e6;
  }
  .main-header .divheading {
    height: 4.6875vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 8.33333vw;
    padding-right: 9.375vw;
  }
  .main-header .divheading .add-vendor-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  .main-header .divheading img {
    width: 1.66667vw;
    height: 1.51042vw;
    margin-left: 1.5625vw;
    background-color: #fafafa;
    border-radius: 1.5625vw;
  }
  .main-header .divheading h4 {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    font-weight: bold;
    font-size: 1.45833vw;
    color: #000000;
  }
  .main-header .add-vendor-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .main-header {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.8vw 1.6vw 0 #e6e6e6;
            box-shadow: 0 0.8vw 1.6vw 0 #e6e6e6;
  }
  .main-header .divheading {
    height: 17.33333vw;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header .divheading .add-vendor-button {
    font-size: 3.73333vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 26.66667vw;
    height: 8vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  .main-header .divheading img {
    width: 6.4vw;
    height: 6.4vw;
    margin-left: 4vw;
    background-color: #fafafa;
    border-radius: 8vw;
  }
  .main-header .divheading h4 {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    font-weight: bold;
    font-size: 4.26667vw;
    color: #000000;
  }
  .main-header .add-vendor-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/********************
    Typography scss
********************/
@font-face {
  font-family: AvenirLTStd-Black;
  src: url("./assets/fonts/AvenirLTStd-Black.otf");
}

@font-face {
  font-family: AvenirLTStd-BlackOblique;
  src: url("./assets/fonts/AvenirLTStd-BlackOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Book;
  src: url("./assets/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: AvenirLTStd-BookOblique;
  src: url("./assets/fonts/AvenirLTStd-BookOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url("./assets/fonts/AvenirLTStd-Heavy.otf");
}

@font-face {
  font-family: AvenirLTStd-HeavyOblique;
  src: url("./assets/fonts/AvenirLTStd-HeavyOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Light;
  src: url("./assets/fonts/AvenirLTStd-Light.otf");
}

@font-face {
  font-family: AvenirLTStd-LightOblique;
  src: url("./assets/fonts/AvenirLTStd-LightOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url("./assets/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: AvenirLTStd-MediumOblique;
  src: url("./assets/fonts/AvenirLTStd-MediumOblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Oblique;
  src: url("./assets/fonts/AvenirLTStd-Oblique.otf");
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url("./assets/fonts/AvenirLTStd-Roman.otf");
}

/***=========================
    Login Scss
=========================***/
@media screen and (min-width: 769px) {
  .login-align {
    margin-top: 4.16667vw;
    margin: 2.91667vw auto;
    padding-top: 1.5625vw;
    background-color: white;
    width: 30.52083vw;
    height: 35.15625vw;
    border-radius: 1.04167vw;
    -webkit-box-shadow: 0px 0px 20px #e6e6e6;
            box-shadow: 0px 0px 20px #e6e6e6;
  }
  .login-align p {
    font-family: AvenirLTStd-Book;
    padding-bottom: 2.08333vw;
    border-bottom: 1px solid #e6e6e6;
  }
  .login-align .welcome-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .login-align .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
  }
  .username-login-form-group {
    position: relative;
  }
  .username-login-form-group img {
    width: 1.97917vw;
    height: 1.97917vw;
    position: absolute;
    top: 2.1875vw;
    left: 0.52083vw;
    border-radius: 1.5625vw;
  }
  .login-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: right;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  body {
    background-color: #ffffff;
    height: 100vh;
  }
  #cooking {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 75vh;
    height: 75vh;
    overflow: hidden;
  }
  #cooking .bubble {
    position: absolute;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0.25vh #4d4d4d;
            box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
  }
  #cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 50%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    -webkit-animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
            animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
  }
  #cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 44%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    -webkit-animation: bubble 2s ease-in-out 0.35s infinite;
            animation: bubble 2s ease-in-out 0.35s infinite;
  }
  #cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 42%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    -webkit-animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
            animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
  }
  #cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    -webkit-animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
            animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
  }
  #cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 55%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    -webkit-animation: bubble 1.6s ease-in-out 1s infinite;
            animation: bubble 1.6s ease-in-out 1s infinite;
  }
  #cooking #area {
    position: absolute;
    bottom: 0;
    right: 8%;
    width: 50%;
    height: 50%;
    background-color: transparent;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: flip 2.1s ease-in-out infinite;
            animation: flip 2.1s ease-in-out infinite;
  }
  #cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: switchSide 2.1s ease-in-out infinite;
            animation: switchSide 2.1s ease-in-out infinite;
  }
  #cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    -webkit-transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
            transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
  }
  #cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    -webkit-transform-origin: -15% 0;
            transform-origin: -15% 0;
  }
  #cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(85deg);
            transform: rotateX(85deg);
    -webkit-animation: jump 2.1s ease-in-out infinite;
            animation: jump 2.1s ease-in-out infinite;
  }
  #cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    -webkit-box-shadow: 0 0 3px 0 #333;
            box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    -webkit-transform-origin: -20% 0;
            transform-origin: -20% 0;
    -webkit-animation: fly 2.1s ease-in-out infinite;
            animation: fly 2.1s ease-in-out infinite;
  }
  @-webkit-keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @-webkit-keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
}

/***********************************
            Media Query Login          
***********************************/
@media screen and (max-width: 768px) {
  .login-align {
    margin-top: 16vw;
    padding-top: 5.33333vw;
    background-color: white;
    width: 100%;
    height: 70vh;
    border-radius: 5.33333vw;
    -webkit-box-shadow: 0px 0px 20px #e6e6e6;
            box-shadow: 0px 0px 20px #e6e6e6;
  }
  .login-align p {
    font-family: AvenirLTStd-Book;
    padding-bottom: 10.66667vw;
    border-bottom: 1px solid #e6e6e6;
  }
  .login-align .welcome-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .login-align .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
  }
  .username-login-form-group {
    position: relative;
  }
  .username-login-form-group img {
    width: 6.66667vw;
    height: 6.66667vw;
    position: absolute;
    top: 8.8vw;
    left: 4vw;
    border-radius: 8vw;
  }
  .login-button {
    margin-top: 8vw;
    font-size: 4.8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 37.33333vw;
    height: 10.66667vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: right;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  body {
    background-color: #ffffff;
    height: 100vh;
  }
  #cooking {
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 75vh;
    height: 75vh;
    overflow: hidden;
  }
  #cooking .bubble {
    position: absolute;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0.25vh #4d4d4d;
            box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
  }
  #cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 50%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    -webkit-animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
            animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
  }
  #cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 44%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    -webkit-animation: bubble 2s ease-in-out 0.35s infinite;
            animation: bubble 2s ease-in-out 0.35s infinite;
  }
  #cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 42%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    -webkit-animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
            animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
  }
  #cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    -webkit-animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
            animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.9s infinite;
  }
  #cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 55%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    -webkit-animation: bubble 1.6s ease-in-out 1s infinite;
            animation: bubble 1.6s ease-in-out 1s infinite;
  }
  #cooking #area {
    position: absolute;
    bottom: 0;
    right: 8%;
    width: 50%;
    height: 50%;
    background-color: transparent;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: flip 2.1s ease-in-out infinite;
            animation: flip 2.1s ease-in-out infinite;
  }
  #cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 15% 60%;
            transform-origin: 15% 60%;
    -webkit-animation: switchSide 2.1s ease-in-out infinite;
            animation: switchSide 2.1s ease-in-out infinite;
  }
  #cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    -webkit-transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
            transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
  }
  #cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    -webkit-transform-origin: -15% 0;
            transform-origin: -15% 0;
  }
  #cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    -webkit-transform: rotateX(85deg);
            transform: rotateX(85deg);
    -webkit-animation: jump 2.1s ease-in-out infinite;
            animation: jump 2.1s ease-in-out infinite;
  }
  #cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    -webkit-box-shadow: 0 0 3px 0 #333;
            box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    -webkit-transform-origin: -20% 0;
            transform-origin: -20% 0;
    -webkit-animation: fly 2.1s ease-in-out infinite;
            animation: fly 2.1s ease-in-out infinite;
  }
  @-webkit-keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @keyframes jump {
    0% {
      top: 24%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    25% {
      top: 10%;
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    50% {
      top: 30%;
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
    75% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
    100% {
      -webkit-transform: rotateX(85deg);
              transform: rotateX(85deg);
    }
  }
  @-webkit-keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes flip {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    5% {
      -webkit-transform: rotate(-27deg);
              transform: rotate(-27deg);
    }
    30%,
    50% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    55% {
      -webkit-transform: rotate(27deg);
              transform: rotate(27deg);
    }
    83.3% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @keyframes switchSide {
    0% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
    50% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
    100% {
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
    }
  }
  @-webkit-keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes fly {
    0% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    10% {
      bottom: 40%;
    }
    50% {
      bottom: 26%;
      -webkit-transform: rotate(-190deg);
              transform: rotate(-190deg);
    }
    80% {
      bottom: 40%;
    }
    100% {
      bottom: 26%;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @keyframes bubble {
    0% {
      -webkit-transform: scale(0.15, 0.15);
              transform: scale(0.15, 0.15);
      top: 80%;
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0.33, 0.33);
              transform: scale(0.33, 0.33);
      top: 60%;
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
    50% {
      -webkit-transform: scale(1.2, 1);
              transform: scale(1.2, 1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1);
      opacity: 0.25;
    }
  }
}

/*========================================================

                vendor details

========================================================*/
@media screen and (min-width: 769px) {
  .font-36-black {
    font-size: 1.875vw;
    line-height: 2.23958vw;
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .font-28-medium {
    font-size: 1.45833vw;
    line-height: 1.77083vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .font-21-medium {
    cursor: pointer;
    font-size: 1.09375vw;
    line-height: 1.30208vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .mr-30 {
    margin-right: 1.5625vw;
  }
  .mb-30 {
    margin-bottom: 1.5625vw;
  }
  .vendor-details-container {
    padding-left: 7.34375vw;
    padding-right: 7.34375vw;
    padding-top: 1.5625vw;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 1.04167vw 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 1.04167vw 0 rgba(0, 0, 0, 0.05);
  }
  .gray-border {
    display: block;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 1.71875vw;
    margin-bottom: 1.04167vw;
  }
  .gray-text-block-p {
    color: #CCCCCC;
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    line-height: 1.30208vw;
    text-transform: capitalize;
    width: 14.89583vw;
    margin-bottom: 1.04167vw;
  }
  .login-button--vendor-details-show {
    float: unset;
    background-color: #57B6FF;
    color: #FFFFFF;
    margin-bottom: 1.5625vw !important;
    margin-right: 1.5625vw !important;
  }
  .login-button--vendor-details-show-all {
    float: unset;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    margin-bottom: 1.5625vw !important;
    margin-right: 1.5625vw !important;
  }
  .dark-gray-text {
    color: #808080;
  }
  .default-wait-time-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5625vw;
    margin-top: 0.52083vw;
  }
  .default-wait-time-block .select-wait-time {
    color: #FFFFFF;
    border-top-left-radius: 2.08333vw;
    border-bottom-left-radius: 2.08333vw;
    border-right: 0;
  }
  .default-wait-time-block .select-current-time {
    color: #FFFFFF;
    background-color: #FFCF60;
  }
  .default-wait-time-block span:last-child::after {
    display: none;
  }
  .default-wait-time-block span:first-child {
    border-top-left-radius: 2.08333vw;
    border-bottom-left-radius: 2.08333vw;
    border-right: 0;
  }
  .default-wait-time-block span:last-child {
    border-top-right-radius: 2.08333vw;
    border-bottom-right-radius: 2.08333vw;
    border-right: 0;
  }
  .default-wait-time-block span {
    position: relative;
    color: #000000;
    background-color: #FAFAFA;
    width: 4.6875vw;
    height: 4.16667vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .default-wait-time-block span::after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #707070;
    position: absolute;
    right: 0;
  }
  .table-time-outer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .table-time-outer-block div:first-child {
    margin-right: 3.125vw;
  }
  .vendordetail-col {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .font-36-black {
    font-size: 8vw;
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
  }
  .font-28-medium {
    font-size: 5vw;
    line-height: 9.06667vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .font-21-medium {
    cursor: pointer;
    font-size: 5.6vw;
    line-height: 6.66667vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
  }
  .mr-30 {
    margin-right: 8vw;
  }
  .mb-30 {
    margin-bottom: 8vw;
  }
  .vendor-details-container {
    padding-top: 5.33333vw;
    padding-bottom: 5.33333vw;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 5.33333vw 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 0 5.33333vw 0 rgba(0, 0, 0, 0.05);
  }
  .gray-border {
    display: block;
    border-bottom: 1px solid #E6E6E6;
    margin-top: 4vw;
    margin-bottom: 4vw;
  }
  .gray-text-block-p {
    color: #CCCCCC;
    font-size: 5.6vw;
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    line-height: 6.66667vw;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 5.33333vw;
  }
  .login-button--vendor-details-show {
    float: unset;
    background-color: #57B6FF;
    color: #FFFFFF;
    font-size: 4vw;
    width: 49%;
    height: 7vh;
    margin-bottom: 5.33333vw !important;
  }
  .login-button--vendor-details-show-all {
    float: unset;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    color: #000000;
    font-size: 4vw;
    width: 49%;
    height: 7vh;
    margin-bottom: 5.33333vw !important;
  }
  .dark-gray-text {
    color: #808080;
  }
  .default-wait-time-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5.33333vw;
    margin-top: 5.33333vw;
  }
  .default-wait-time-block .select-wait-time {
    color: #FFFFFF;
    border-top-left-radius: 10.66667vw;
    border-bottom-left-radius: 10.66667vw;
    border-right: 0;
  }
  .default-wait-time-block .select-current-time {
    color: #FFFFFF;
    background-color: #FFCF60;
  }
  .default-wait-time-block span:last-child::after {
    display: none;
  }
  .default-wait-time-block span:first-child {
    border-top-left-radius: 10.66667vw;
    border-bottom-left-radius: 10.66667vw;
    border-right: 0;
  }
  .default-wait-time-block span:last-child {
    border-top-right-radius: 10.66667vw;
    border-bottom-right-radius: 10.66667vw;
    border-right: 0;
  }
  .default-wait-time-block span {
    position: relative;
    color: #000000;
    background-color: #FAFAFA;
    width: 18vw;
    font-size: 5vw;
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .default-wait-time-block span::after {
    content: "";
    width: 1px;
    height: 50%;
    background-color: #707070;
    position: absolute;
    right: 0;
  }
  .table-time-outer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .vendordetail-col {
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
}

/*========================================================

                Vendor List scss

========================================================*/
@media screen and (min-width: 769px) {
  .table-container {
    text-align: center;
  }
  .table-container .first-row {
    background-color: #ff5757;
  }
  .table-container .first-row th {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 1.09375vw;
    color: white;
    height: 4.16667vw;
  }
  .table-container .second-row td {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 1.09375vw;
    height: 4.16667vw;
  }
  .table-container .second-row .img-padding {
    padding-left: 1.5625vw;
  }
  .table-container .vendor {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: 1.875vw;
  }
  .table-container .vendor-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .table-container .vendor-search .input-bottomblack--input-search {
    background: transparent;
    margin-left: auto;
  }
  .table-container .username-login-form-group img {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 7px;
    left: 165px;
  }
  .table-container .size-select {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 0.9rem !important;
    border: none;
    background-color: transparent;
    color: black;
  }
  .search-label label {
    display: none;
  }
  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: 0vw;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: white;
  }
  .popup_inner {
    text-align: left;
    padding: 1.04167vw;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: 1.04167vw;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .popup_inner .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    margin: 1.04167vw;
  }
  .popup_inner .para-div {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .popup_inner .para-div p {
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    font-size: 1.09375vw;
    padding: 0.52083vw;
  }
  .popup_inner .order-notes-button {
    padding-top: 1.5625vw;
  }
}

/***********************************
            Media Query Vendor List  
***********************************/
@media screen and (max-width: 768px) {
  .table-container {
    text-align: center;
  }
  .table-container .first-row {
    background-color: #ff5757;
  }
  .table-container .first-row th {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 4vw;
    color: white;
    height: auto;
    vertical-align: middle;
    padding: 2.66667vw;
  }
  .table-container .second-row td {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 4vw;
    height: auto;
    vertical-align: middle;
  }
  .table-container .second-row .img-padding {
    padding-left: 8vw;
  }
  .table-container .vendor {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: 4.26667vw;
  }
  .table-container .vendor-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 2.66667vw;
    padding-bottom: 2.66667vw;
  }
  .table-container .vendor-search .input-bottomblack--input-search {
    background: transparent;
    margin-left: auto;
  }
  .table-container .username-login-form-group img {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 7px;
    left: 165px;
  }
  .table-container .size-select {
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    font-size: 0.9rem !important;
    border: none;
    background-color: transparent;
    color: black;
  }
  .search-label label {
    display: none;
  }
  table {
    border-collapse: collapse;
    border-radius: 5px 5px 40px 40px;
    overflow: hidden;
    margin-bottom: 0vw;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.2;
  }
  .popup_inner {
    text-align: left;
    padding: 5.33333vw;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 30%;
    margin: auto;
    background: white;
    border-radius: 5.33333vw;
    -webkit-box-shadow: 0px 0px 20px #e6e6e6;
            box-shadow: 0px 0px 20px #e6e6e6;
  }
  .popup_inner .login-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    margin: 5.33333vw;
  }
  .popup_inner .para-div {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
  .popup_inner .para-div p {
    font-family: AvenirLTStd-Book, sans-serif, Helvetica;
    font-size: 5.6vw;
    padding: 2.66667vw;
  }
  .popup_inner .order-notes-button {
    padding-top: 8vw;
  }
}

/*========================================================

                 Add Vendor scss

========================================================*/
@media screen and (min-width: 769px) {
  .add-vendor-align {
    margin-top: 4.16667vw;
  }
  .add-vendor-align .addvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
  }
  .add-vendor-align .cancel-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: left;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  .add-vendor-align .text-area-add {
    border: 1px solid #cccccc;
    border-radius: 1.5625vw;
  }
}

/***********************************
            Media Query Add vendor  
***********************************/
@media screen and (max-width: 768px) {
  .add-vendor-align {
    margin-top: 8vw;
    margin-bottom: 8vw;
  }
  .add-vendor-align .addvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    font-size: 5.33333vw;
  }
  .add-vendor-align .cancel-button {
    font-size: 4.8vw;
    margin-top: 8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 37.33333vw;
    height: 10.66667vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: left;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  .add-vendor-align .text-area-add {
    border: 1px solid #cccccc;
    border-radius: 8vw;
  }
}

/*========================================================

                Edit Vendor scss

========================================================*/
@media screen and (min-width: 769px) {
  .edit-vendor-align {
    margin-top: 4.16667vw;
  }
  .edit-vendor-align .editvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    padding-bottom: 1.04167vw;
    border-bottom: 1px solid #cccccc;
  }
  .edit-vendor-align .cancel-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 12.5vw;
    height: 3.125vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: right;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
  .save-button {
    font-size: 1.09375vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    margin-top: 10.9375vw;
    width: 12.5vw;
    height: 3.125vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 1.5625vw;
    text-transform: capitalize;
  }
}

/***********************************
            Media Query Navigation   
***********************************/
@media screen and (max-width: 768px) {
  .edit-vendor-align {
    margin-top: 8vw;
  }
  .edit-vendor-align .editvendor-text {
    font-family: AvenirLTStd-Black, sans-serif, Helvetica;
    text-align: left;
    padding-bottom: 5.33333vw;
    border-bottom: 1px solid #cccccc;
  }
  .edit-vendor-align .cancel-button {
    margin-top: 5.33333vw;
    font-size: 4.8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    width: 37.33333vw;
    height: 10.66667vw;
    border: 1px solid #ff5757;
    background-color: white;
    color: #ff5757;
    float: right;
    border-radius: 8vw;
    text-transform: capitalize;
  }
  .save-button {
    font-size: 4.8vw;
    font-family: AvenirLTStd-Medium, sans-serif, Helvetica;
    margin-top: 61.33333vw;
    width: 37.33333vw;
    height: 10.66667vw;
    border: transparent;
    background-color: #ff5757;
    color: white;
    float: left;
    border-radius: 8vw;
    text-transform: capitalize;
  }
}
/*# sourceMappingURL=App.css.map */