/********************
    Global Css hii
********************/
/***********************************
            Global Reset             
***********************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

/************************************
        Button Component Css
************************************/
.button-main {
  width: vw(248px);
  height: vw(60px);
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  border-radius: vw(30px);
}

.button-orange {
  background-color: #f85032;
  color: #fff;
}

.button-white {
  background-color: #fff;
  color: #f85032;
  border: vw(2px) solid #f85032;
}

.button-orange:hover {
  color: #fff;
}

.button-white:hover {
  color: #f85032;
}

/************************************
       Sliding Component Css
************************************/
.toggle {
  &__switch {
    appearance: none;
    width: vw(53px);
    height: vw(27px);
    border-radius: vw(60px);
    // border: 3px solid silver;
    position: relative;
    outline: none;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s linear;

    &:after {
      content: '';
      display: block;
      width: vw(21px);
      height: vw(21px);
      background-color: #cccccc;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      border-radius: vw(60px);
      position: absolute;
      margin: auto;
      bottom: 0;
      top: 0;
      left: calc(94% - 18px);
      transition: all 0.3s linear;
    }

    &:checked {
      background-color: #fff;

      &:after {
        left: 6%;
        background-color: #72ff5a;
      }
    }
  }
}

/************************************
        Hr Component Css
************************************/
.hr-global {
  border-top: 1px solid #f85032 !important;
}

/************************************
        Parent Component Css
************************************/
.heading-title {
  font-size: vw(28px);
  line-height: vw(34px);
  font-family: AvenirLTStd-Black;
  color: #000;
  margin-bottom: vw(21px) !important;
}

/************************************
        Input Component Css
************************************/
.input-label {
  color: #000;
  font-size: vw(21px);
  line-height: vw(25px);
  font-family: AvenirLTStd-Medium;
  text-transform: capitalize;
  margin-bottom: vw(10px);
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: vw(15px);

  .img-box {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    opacity: 1 !important;
    background-color: #fff !important;
    border-right: none;
    border-top-left-radius: vw(30px);
    border-bottom-left-radius: vw(30px);

    .img {
      width: vw(38px);
      height: vw(38px);
    }
  }

  .input-field {
    width: 100%;
    height: vw(60px);
    background-color: #fff !important;
    opacity: 1 !important;
    outline: none;
    border-left: none !important;
    border: 1px solid #e6e6e6;
    border-top-right-radius: vw(30px);
    border-bottom-right-radius: vw(30px);
  }
  .map-inputfield {
    width: 100%;
    height: vw(60px);
    background-color: #fff !important;
    opacity: 1 !important;
    outline: none;
    border: 1px solid #e6e6e6;
    border-radius: vw(30px);
    padding-left: vw(20px);
    padding-right: vw(20px);
  }

  .input-field:focus {
    outline: none;
    box-shadow: none;
  }

  ::placeholder {
    color: #e6e6e6;
  }
}

.custom-input {
  height: vw(90px) !important;
  border-top-left-radius: vw(45px) !important;
  border-bottom-left-radius: vw(45px) !important;
}
.custom-inputtwo {
  width: vw(200px) !important;
  height: vw(90px) !important;
  border-top-right-radius: vw(45px) !important;
  border-bottom-right-radius: vw(45px) !important;
}

.disable-input-button-css {
  width: 100%;
  height: vw(60px);
  background-color: #f7f7f7 !important;
  outline: none;
  border: 1px solid #f7f7f7;
  border-radius: vw(30px);
  padding-left: vw(20px);
  padding-right: vw(20px);
}

.disable-textarea-custom-css {
  background-color: #f7f7f7 !important;
  outline: none;
  border: 1px solid #f7f7f7;
  border-radius: vw(30px);
  width: 100%;
  height: auto;
  padding: vw(20px);
}

/************************************
        Header Component Css
************************************/
.header-main-background {
  padding: vw(28px) vw(141px);
  box-shadow: vw(0px) vw(3px) vw(6px) rgba(0, 0, 0, 0.16);
  background-color: rgba(255, 255, 255, 0.75);
  position: absolute;
  width: 100%;
  height: vw(90px);

  .navbar-brand {
    color: #000;
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
  }

  .nav-link {
    color: #000;
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Roman;
  }

  .navbar-nav .active {
    color: #000;
    font-size: vw(28px);
    line-height: vw(34px);
    font-family: AvenirLTStd-Black;
    font-weight: bold;
  }
}

.error {
  color: red;
  font-size: vw(15px);
  font-family: AvenirLTStd-Light;
}

.curve_input_field {
  font-family: AvenirLTStd-Book;
  height: vw(70px);
  font-size: vw(25px);
  line-height: vw(27px);
  display: flex;
  width: 100%;
  align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: vw(20px);
}
.curve_input_field:focus {
  font-family: AvenirLTStd-Book;
  height: vw(70px);
  font-size: vw(25px);
  line-height: vw(27px);
  display: flex;
  width: 100%;
  align-items: center;
  color: black;
  border: 1px solid #cccccc;
  border-radius: 30px;
  outline: none;
  padding-left: vw(20px);
}
.curve_input_field::placeholder {
  font-family: AvenirLTStd-Book;
  font-size: vw(25px);
  height: vw(52px);
  line-height: vw(27px);
  display: flex;
  width: 100%;
  align-items: center;
  color: #8c8c8c;
  border: none;
  outline: none;
  padding-left: vw(20px);
}
