/********************
    Typography scss
********************/

@font-face {
  font-family: AvenirLTStd-Black;
  src: url('./assets/fonts/AvenirLTStd-Black.otf');
}

@font-face {
  font-family: AvenirLTStd-BlackOblique;
  src: url('./assets/fonts/AvenirLTStd-BlackOblique.otf');
}

@font-face {
  font-family: AvenirLTStd-Book;
  src: url('./assets/fonts/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: AvenirLTStd-BookOblique;
  src: url('./assets/fonts/AvenirLTStd-BookOblique.otf');
}

@font-face {
  font-family: AvenirLTStd-Heavy;
  src: url('./assets/fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
  font-family: AvenirLTStd-HeavyOblique;
  src: url('./assets/fonts/AvenirLTStd-HeavyOblique.otf');
}

@font-face {
  font-family: AvenirLTStd-Light;
  src: url('./assets/fonts/AvenirLTStd-Light.otf');
}

@font-face {
  font-family: AvenirLTStd-LightOblique;
  src: url('./assets/fonts/AvenirLTStd-LightOblique.otf');
}

@font-face {
  font-family: AvenirLTStd-Medium;
  src: url('./assets/fonts/AvenirLTStd-Medium.otf');
}

@font-face {
  font-family: AvenirLTStd-MediumOblique;
  src: url('./assets/fonts/AvenirLTStd-MediumOblique.otf');
}

@font-face {
  font-family: AvenirLTStd-Oblique;
  src: url('./assets/fonts/AvenirLTStd-Oblique.otf');
}

@font-face {
  font-family: AvenirLTStd-Roman;
  src: url('./assets/fonts/AvenirLTStd-Roman.otf');
}
